ion-datetime {
    margin: auto;
    padding: auto;
}

ion-button {
    --background: var(--main-color-red);
    --background-activated: var(--main-color-red);
    --background-hover: var(--main-color-red);
}

ion-checkbox {
    --background-checked: var(--main-color-red);
    --border-color-checked: var(--main-color-red);
}