<app-navigation-bar></app-navigation-bar>
<img class="banner" src="{{bannerSrc}}" alt="Unable to load image ">
<h2 class="heading ">Những điểm đến thu hút thực khách tuần này</h2>
<div class="container ">
    <div class="restaurantRow " *ngFor="let res of restaurants ">
        <div>
            <a href="/restaurant/{{res._id}}"><img class="restaurantImage " src="{{res.image[0]}} " alt="Unable to load image " title="{{res.name}} "></a>
        </div>
        <div class="restaurantInfo">
            <a class="restaurantName" href="/restaurant/{{res._id}}" target="_blank">{{res.name}}</a>
            <p class="restaurantLocation ">{{res.address[0].split(',')[2]}}</p>
            <p class="restaurantShortDescription ">{{res.short_description}}</p>
            <div>
                <a href="{{res.menu}}" target="_blank "><button type="button " class="btnCTA btnMenu ">Menu</button></a>
                <a href="/booking-page/{{res._id}}" target="_blank"> <button type="button" class="btnCTA btnBookTable">Đặt ngay</button></a>
            </div>
        </div>
    </div>
</div>