<!-- <ion-header>
  <ion-toolbar>
    <ion-title>footer</ion-title>
  </ion-toolbar>
</ion-header> -->
<div></div>
<ion-footer>
    <ion-toolbar>

        <div class="footer__container footer__flex">
            <div class="footer__aboutus">
                <p class="footer--title">SG FOODIE</p>
                <p><a href="" class="footer__aboutus--item">Về chúng tôi</a></p>
                <p>Lầu 10, Tòa nhà M-H, Số 728-730 Võ văn Kiệt, P.1, Quận 5, TP Hồ Chí Minh</p>
                <p>Tổng đài: 1900 6005</p>
                <p>Email: CSKH@sgfoodie.vn</p>
                <a routerLink="/security-policy" class="footer__aboutus--item">Chính sách bảo mật</a>
                <p>
                    <a href="https://www.facebook.com/fbsgfoodie"><img src="../../assets/images/facebook-icon.png" alt="FB" class="facebook--icon"></a>
                    <a href=""><img src="../../assets/images/instagram-icon.png" alt="IG" class="insta--icon"></a>
                </p>
            </div>
            <div class="footer__discover">
                <p class="footer--title">KHÁM PHÁ</p>
                <a class="footer__discover--item" routerLink="/category/Nổi bật">Nổi bật</a>
                <a class="footer__discover--item" routerLink="/category/Ưu đãi">Ưu đãi</a>
                <a class="footer__discover--item" routerLink="/category/Văn hóa ẩm thực">Văn hóa ẩm thực</a>
                <a class="footer__discover--item" routerLink="/category/Tinh hoa Việt Nam">Tinh hoa Việt Nam</a>
                <a class="footer__discover--item" routerLink="/category/Điểm nhấn quận mình">Điểm nhấn quận mình</a>
                <p>
                    <img src="../../assets/images/logoBCT.png" alt="LogoBCT" class="logoBCT">
                </p>
            </div>
        </div>
        <p class="footer__license">© 2021 - Bản quyền của Công Ty Cổ Phần SGFoodie - SGFoodie.vn</p>
    </ion-toolbar>
</ion-footer>