.logo-header {
    width: 110px;
    height: 110px;
    display: block;
    margin: auto;
}

.logo-social {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.text-color {
    text-decoration: none;
}

ion-button {
    text-transform: none;
}

ion-note {
    font-size: small;
}

.btn-submit {
    --background: var(--main-color-red) !important;
    --background-activated: var(--main-color-red) !important;
    --background-hover: var(--main-color-red) !important;
}