<ion-header>
    <ion-toolbar>
        <ion-title>SGFoodie</ion-title>
        <ion-buttons slot="end">
            <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-padding">
        <img src="../../assets/images/SGFoodie_LOGO1.png" alt="Logo SG-foodie" class="logo-header">
        <h2 class="ion-text-center" style="font-weight: bold; color: var(--main-color-red)">Đăng nhập</h2>
        <p class="text-center">SGFoodie sẽ cho bạn khám phá đến những ẩm thực ngon nhất của thành phố. Hãy bắt đầu nào!</p>
        <ion-button fill="outline" expand="block">
            <span><img src="../../assets/icon/google.svg" alt="GG-logo" class="logo-social"></span>
            <span>Đăng nhập với Google</span>
        </ion-button>
        <ion-button fill="outline" expand="block" class="ion-margin-top">
            <span><img src="../../assets/icon/facebook-icon.svg" alt="FB-logo" class="logo-social"></span>
            <span>Đăng nhập với Facebook</span>
        </ion-button>
        <form [formGroup]="regForm">
            <ion-item lines="full">
                <ion-label position="floating">Số điện thoại</ion-label>
                <ion-input type="text" id="phonenum" required [class.is-invalid]="phonenum.invalid && phonenum.touched"></ion-input>
                <div *ngIf="phonenum.invalid && phonenum.touched">
                    <small class="error ion-padding" *ngIf="phonenum.errors?.['required']">Phone number is invalid</small>
                    <small class="error ion-padding" *ngIf="phonenum.errors?.['pattern']">Mobile phone must contain 10 digit</small>
                </div>
            </ion-item>
            <ion-item lines="full">
                <ion-label position="floating">Mật khẩu</ion-label>
                <ion-input type="password" required></ion-input>
            </ion-item>
            <div class="ion-text-right ion-padding">
                <a href="#" class="text-color">Quên mật khẩu?</a>
            </div>
            <ion-button expand="block" style="--background:var(--main-color-red)">Đăng nhập</ion-button>
            <div class="text-center ion-padding-top">
                Chưa có tài khoản? <a routerLink="/register" class="text-color">Đăng ký ngay</a>
            </div>
            <!-- <ion-item lines="full">
        <ion-label position="floating">DOB</ion-label>
        <ion-datetime (ionChange)="getDate($event)" formControlName="dob" [value]="defaultDate"></ion-datetime>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating">Mobile</ion-label>
        <ion-input formControlName="mobile" type="text" required></ion-input>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="danger" expand="block">Submit</ion-button>
        </ion-col>
      </ion-row> -->
        </form>
    </div>
</ion-content>