<ion-header>
    <ion-toolbar>
        Nav Bar
    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <ion-img src="{{bannerSrc}}"></ion-img>
    <ion-card *ngFor="let res of restaurants">
        <img style="width:100%;" src="{{res.image[1]}} " alt="Unable to load image ">
        <ion-card-header>
            <ion-card-title>{{res.name}}</ion-card-title>
            <ion-card-subtitle>{{res.address[0].split(',')[2]}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            {{res.short_description}}
        </ion-card-content>
        <ion-label style="padding:10px">
            <ion-button color="danger " href="{{res.menu}} " target="_blank " class="ion-margin">Menu</ion-button>
            <ion-button color="danger" class="ion-margin">Đặt ngay</ion-button>
        </ion-label>
    </ion-card>
</ion-content>

<!--  <ion-img src="{{bannerSrc}} "></ion-img>
    <ion-card *ngFor="let res of restaurants ">
        <img src="{{res.image[0]}} " alt="Unable to load image ">
        <ion-card-header>
            <ion-card-title>{{res.name}}</ion-card-title>
        </ion-card-header> -->
<!-- <ion-label>
            <h2>{{res.name}}</h2>
            <h3>{{res.address[0].split(',')[2]}}</h3>
            <p>{{res.short_description}}</p>
            <ion-button class="btnCTA btnMenu " href="{{res.menu}} ">Menu</ion-button>
            <ion-button class="btnCTA btnBookTable ">Đặt ngay</ion-button>
        </ion-label> -->
<!--  <ion-card>
            <ion-img src="../../assets/images/Categorical/diemNhan.png "></ion-img>
            <ion-card-header>
                <ion-card-title>Tên nhà hàng</ion-card-title>
            </ion-card-header>

            <ion-card-content>
                Mô tả nhà hàng
            </ion-card-content>
        </ion-card> -->
<!--  </ion-card> -->