<ion-app>
    <ion-menu contentId="content" side="end" class="ionic-margin-top">
        <ion-header>
            <ion-toolbar translucent>
                <ion-title>SGFoodie</ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <ion-menu-toggle>
                <ion-item routerLink="/home">
                    <ion-icon name="home" slot="start"></ion-icon>
                    <ion-label>Trang chủ</ion-label>
                </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle>
                <ion-item routerLink="/category/Nổi bật">
                    <ion-icon name="star" slot="start"></ion-icon>
                    <ion-label>Nổi bật</ion-label>
                </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle>
                <ion-item routerLink="/category/Ưu đãi">
                    <ion-icon name="flash" slot="start"></ion-icon>
                    <ion-label>Ưu đãi</ion-label>
                </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle>
                <ion-item routerLink="/category/Văn hóa ẩm thực">
                    <ion-icon name="earth" slot="start"></ion-icon>
                    <ion-label>Văn hóa ẩm thực</ion-label>
                </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle>
                <ion-item routerLink="/category/Tinh hoa Việt Nam">
                    <ion-icon name="heart-circle" slot="start"></ion-icon>
                    <ion-label>Tinh hoa Việt Nam</ion-label>
                </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle>
                <ion-item routerLink="/category/Điểm nhấn quận mình">
                    <ion-icon name="sunny" slot="start"></ion-icon>
                    <ion-label class="ion-text-wrap">Điểm nhấn quận mình</ion-label>
                </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle>
                <ion-item routerLink="/user-account">
                    <ion-icon name="person" slot="start"></ion-icon>
                    <ion-label>Quản lý tài khoản</ion-label>
                </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle>
                <ion-item routerLink="/login">
                    <ion-icon name="log-in" slot="start"></ion-icon>
                    <ion-label>Đăng nhập</ion-label>
                </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle>
                <ion-item routerLink="/register">
                    <ion-icon name="checkmark-circle" slot="start"></ion-icon>
                    <ion-label>Đăng ký</ion-label>
                </ion-item>
            </ion-menu-toggle>
        </ion-content>
    </ion-menu>
    <ion-router-outlet id="content" main></ion-router-outlet>
</ion-app>