<ion-header>
    <ion-toolbar>
        <ion-title>SGFoodie</ion-title>
        <ion-buttons slot="end">
            <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <swiper class="mySwiper" [config]="config">
        <ng-template swiperSlide *ngFor="let carousel of carousels">
            <img [src]="carousel">
        </ng-template>
    </swiper>

    <ion-searchbar>

    </ion-searchbar>

    <div class="section" *ngFor="let cat of categories; let i = index">
        <div *ngIf="i<5">
            <div class="section__container-header ">
                <h2 style="font-weight: bold;">{{cat | uppercase}}</h2>
                <div></div>
                <span>
                        <a href="category/{{cat}} " >Xem tất cả</a>
                        <i class="fas fa-angle-right"></i>
                    </span>
            </div>
            <div class="section__container">
                <div class="section__container-row" *ngIf="restaurants">
                    <ion-card class="row__item" *ngFor="let res of findRestaurantList(cat).slice(0,4)" style="height:100%">
                        <ion-card-content style="min-height: 250px;">
                            <div class="row__item-image ">
                                <img src="{{res.image[0]}} " alt="Unable to load image " title="{{res.name}} ">
                            </div>
                            <div class="row__item-content ">
                                <h3>
                                    <a routerLink="/restaurant-detail/{{res._id}}">{{res.name}}</a>
                                </h3>
                                <p>{{res.short_description}}</p>
                                <p *ngIf="cat=='Ưu đãi' " class="row__item--color " style="color:#d50805">{{res.discount}}</p>
                            </div>
                        </ion-card-content>
                    </ion-card>
                </div>
            </div>
        </div>

    </div>
</ion-content>