<ion-header>
    <ion-toolbar>
        <ion-back-button slot="start" defaultHref="/" text=""></ion-back-button>
        <ion-title class="ion-text-center">Đăng ký</ion-title>
        <ion-buttons slot="end">
            <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-padding">
        <img src="../../assets/images/SGFoodie_LOGO1.png" alt="Logo SG-foodie" class="logo-header">
        <p class="text-center">SGFoodie sẽ cho bạn khám phá đến những ẩm thực ngon nhất của thành phố. Hãy bắt đầu nào!</p>
        <ion-button fill="outline" expand="block">
            <span><img src="../../assets/icon/google.svg" alt="GG-logo" class="logo-social"></span>
            <span>Đăng nhập với Google</span>
        </ion-button>
        <ion-button fill="outline" expand="block" class="ion-margin-top">
            <span><img src="../../assets/icon/facebook-icon.svg" alt="FB-logo" class="logo-social"></span>
            <span>Đăng nhập với Facebook</span>
        </ion-button>
        <form [formGroup]="regForm" (ngSubmit)="submitData(regForm.value)">
            <ion-item lines="full">
                <ion-label position="stacked">Họ và tên</ion-label>
                <ion-input type="text" required placeholder="SG Foodie" formControlName="fullName" [class.is-invalid]="fullName.invalid && fullName.touched"></ion-input>
            </ion-item>
            <div *ngIf="fullName.invalid && fullName.touched">
                <ion-note class="ion-padding" color="danger" *ngIf="fullName.errors?.['required']">Họ và tên không được để trống</ion-note>
                <ion-note class="ion-padding" color="danger" *ngIf="fullName.errors?.['minlength']">Họ và tên tối thiểu 2 ký tự</ion-note>
                <ion-note class="ion-padding" color="danger" *ngIf="fullName.errors?.['nameNoMatch']">Họ và tên không được chứa ký tự đặt biệt</ion-note>
            </div>
            <ion-item lines="full">
                <ion-label position="stacked">Số điện thoại</ion-label>
                <ion-input type="text" placeholder="+84" required formControlName="phoneNumber" [class.is-invalid]="phoneNumber.invalid && phoneNumber.touched"></ion-input>
            </ion-item>
            <div *ngIf="phoneNumber.invalid && phoneNumber.touched">
                <ion-note class="ion-padding" color="danger" *ngIf="phoneNumber.errors?.['required']">Số điện thoại không được để trống</ion-note>
                <ion-note class="ion-padding" color="danger" *ngIf="phoneNumber.errors?.['pattern']">Số điện thoại gồm 10 chữ số</ion-note>
            </div>
            <ion-item lines="full">
                <ion-label position="stacked">Ngày sinh</ion-label>
                <ion-input type="date" formControlName="dateBirth"></ion-input>
            </ion-item>
            <ion-item lines="full">
                <ion-label position="stacked">Email</ion-label>
                <ion-input type="email" placeholder="example@gmail.com" required formControlName="email" [class.is-invalid]="regForm.controls['email'].invalid && regForm.controls['email'].touched"></ion-input>
            </ion-item>
            <ion-note class="ion-padding" color="danger" *ngIf="regForm.controls['email'].invalid && regForm.controls['email'].touched">Email không được để trống</ion-note>
            <ion-item lines="full">
                <ion-label position="stacked">Mật khẩu</ion-label>
                <ion-input type="password" formControlName="password"></ion-input>
            </ion-item>
            <ion-item lines="full">
                <ion-label position="stacked">Nhập lại mật khẩu</ion-label>
                <ion-input type="password" required formControlName="confirmPassword" [class.is-invalid]="regForm.errors?.['misMatch']"></ion-input>
            </ion-item>
            <ion-note class="ion-padding" color="danger" *ngIf="regForm.errors?.['misMatch']">Mật khẩu không trùng khớp</ion-note>
            <ion-item>
                <ion-checkbox color="danger" style="--background-checked:var(--main-color-red); --border-color-checked: var(--main-color-red);" (ionChange)="onChange($event)"></ion-checkbox>
                <ion-label style="margin-left: 5pt;">Tôi đồng ý với Chính sách Bảo mật và Điều khoản & Điều kiện của SGFoodie</ion-label>
            </ion-item>
            <ion-button type="submit" expand="block" style="--background:var(--main-color-red)">Đăng ký</ion-button>
        </form>
    </div>
    <!-- <div>{{regForm.value | json}}</div> -->
</ion-content>