<ion-header>
    <ion-toolbar>
        <ion-back-button slot="start" defaultHref="/user-account" text=""></ion-back-button>
        <ion-title class="ion-text-center">Chi tiết đặt bàn</ion-title>
        <ion-buttons slot="end">
            <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
            <img src="../../assets/images/GrillCheer/GrillCheer2.png" alt="">
        </ion-item>

        <ion-list-header>
            <h5>Tên nhà hàng</h5>
        </ion-list-header>
        <ion-item>
            <ion-label>Grill Cheer</ion-label>
        </ion-item>
        <ion-list-header>
            <h5>Thời gian</h5>
        </ion-list-header>
        <ion-item>
            <ion-label>16/06/2022 20:00</ion-label>
        </ion-item>
        <ion-list-header>
            <h5>Địa điểm</h5>
        </ion-list-header>
        <ion-item>
            <ion-label class="ion-text-wrap">242 Phạm Văn Đồng, P. Hiệp Bình Chánh, Quận Thủ Đức</ion-label>
        </ion-item>
        <ion-list-header>
            <h5>Số lượng</h5>
        </ion-list-header>
        <ion-item>
            <ion-label>2 người lớn, 3 trẻ em</ion-label>
        </ion-item>
        <ion-list-header>
            <h5>Lưu ý</h5>
        </ion-list-header>
        <ion-item>
            <ion-label></ion-label>
        </ion-item>
    </ion-list>
    <ion-button expand="full" style="margin: 15px">Xóa</ion-button>
</ion-content>